
@tailwind base;
@tailwind components;
@tailwind utilities;



*::-webkit-scrollbar {
  display: none; /* Для WebKit (Chrome, Safari, Opera) */
}

:root {
  background-color: #0d0e0d;
  scrollbar-width: none; /* Для Firefox */
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
